@using Portfolio.Models.Cafe.ProcessOrder
@model OrderDetails
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Order Details";
}

<div class="text-center my-5" id="titleSection">
    <h2>Details for Order: <span class="text-success">#@Model.OrderId</span></h2>
</div>
<div class="container">
    <table class="table table-bordered border-primary table-dark table-striped">
        <thead>
            <tr>
                <th>Order Status</th>
                <th>Date</th>
                <th>Tax</th>
                <th>Tip</th>
                <th>Final Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (Model.PaymentStatusId == 2)
                {
                    <td class="text-warning">Pending<a asp-controller="ProcessPayment" asp-action="Process" asp-route-orderId="@Model.OrderId" class="ms-3">Go to checkout</a></td>
                }
                else
                {
                    <td class="text-success">Paid</td>
                }
                <td>@Model.OrderDate</td>
                <td>$@Model.Tax</td>
                <td>$@Model.Tip</td>
                <td>$@Model.FinalTotal</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered border-primary table-dark table-striped">
        <thead>
            <tr>
                <th>Order Item ID</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Extended Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Items)
            {
                <tr>
                    <td>@i.OrderItemId</td>
                    <td>@i.ItemName</td>
                    <td>@i.Quantity</td>
                    <td>$@i.ExtendedPrice</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a asp-controller="Account" asp-action="Profile" class="btn btn-success" id="titleSection" type="submit">Back to Customer profile</a>
    </div>
</div>