@using Portfolio.Models.Cafe.CafeMenu
@model MenuForm
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Menu";
}

<div class="row">
    <h2 class="my-3 text-center" id="titleSection">Something for every time of the day</h2>
</div>
<div class="row">
    <div class="bg-primary">
        <img src="~/img/cafe/menu-page-top.jpg" class="img-fluid" />
    </div>
</div>
<div class="row">
    <h5 class="my-3 text-center"><u id="titleSection">Use the form to filter how the menu is displayed.</u></h5>
</div>
<div class="row">
    <div class="px-3 mb-5">
        <div class="col-md-6 mx-auto border border-5 border-info rounded p-3 bg-primary">
            <form asp-controller="CafeMenu" asp-action="Index" method="post">
                @Html.AntiForgeryToken()
                <div class="form-floating mb-3">
                    <select asp-for="SelectedCategoryID" asp-items="Model.Categories" class="form-control" id="form-input">
                        <option value=""></option>
                    </select>
                    <label asp-for="SelectedCategoryID">Category</label>
                </div>
                <div class="form-floating mb-3">
                    <select asp-for="SelectedTimeOfDayID" asp-items="Model.TimesOfDays" class="form-control" id="form-input">
                        <option value=""></option>
                    </select>
                    <label asp-for="SelectedTimeOfDayID">Time of Day</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="Date" id="form-input" />
                    <label asp-for="Date">Date  (mm/dd/yyyy)</label>
                </div>
                <div>
                    <button type="submit" class="btn btn-success me-3">Show Menu</button>
                    <a asp-controller="Home" asp-action="Cafe" class="link-light link-opacity-50-hover link-underline-opacity-50-hover">Go Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    @if (Model.Items != null)
    {
        @foreach (var i in Model.Items)
        {
            <div class="col-md-3 mb-4 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    @if (i.ItemImgPath != null)
                    {
                        <img src="~/img/cafe/item/@i.ItemImgPath" class="card-img-top" id="card-top" />
                    }
                    else
                    {
                        <img src="~/img/cafe/item/newitem.jpg" class="card-img-top" id="card-top" />
                    }
                    <div class="card-body" id="card-body">
                        <h5 class="card-title">@i.ItemName</h5>
                        <p class="card-text">@i.ItemDescription</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var p in i.Prices)
                        {
                            <li class="list-group-item" id="card-price">$@p.Price</li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div id="card-add" class="py-2">
                            <a class="btn btn-success" type="submit" asp-controller="ShoppingCart" asp-action="AddItem" asp-route-itemId="@i.ItemID">
                                Add to Cart
                            </a>
                        </div>
                    }
                    else
                    {
                        <div id="card-add" class="py-2">
                            <a class="btn btn-success" type="submit" asp-controller="Account" asp-action="Login" asp-route-itemId="@i.ItemID">
                                Add to Cart
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    }
</div>