@using Portfolio.Models.Ordering
@model ShoppingCart
@{
    Layout = "_CafeLayout";
    ViewData["Title"] = "Shopping Cart";
}

<div class="text-center my-3">
    <h1 id="titleSection">Shopping Cart</h1>
</div>
@if (Model.Items.Any())
{
    <div class="container">
        <table class="table table-primary table-striped border border-3 border-info">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.Items)
                {
                    <tr>
                        @if (i.ItemStatusID != 1)
                        {
                            <td><img src="~/item/@i.ItemName.Substring(0, 3).Insert(3, ".png").ToLower()" class="img-fluid border border-info rounded me-3" style="width: 6rem" />@i.ItemName</td>
                        }
                        else
                        {
                            <td><img src="~/item/newitem.png" class="img-fluid border border-info rounded me-3" style="width: 6rem" />@i.ItemName</td>
                        }
                        <td style="vertical-align: middle;">$@i.Price</td>
                        <td style="vertical-align: middle;">@i.Quantity</td>
                        <td style="vertical-align: middle;">$@(@i.Price* @i.Quantity)</td>
                        <td style="vertical-align: middle;"><a asp-controller="ShoppingCart" asp-action="UpdateItem" asp-route-shoppingBagItemId="@i.ShoppingBagItemID" class="link-info link-opacity-50-hover link-underline-opacity-50-hover">Update or Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="text-center">
            <h3 id="titleSection">Want to add more items?<br />Return to the <a asp-controller="Cafe" asp-action="Menu">menu</a> page!</h3>
            <h3>All done? Go to <a asp-controller="ProcessOrder" asp-action="Process" asp-route-customerId="@Model.CustomerID">checkout</a></h3>
        </div>
    </div>
    <div class="container">
        <div class="row p-3">
            <div class="text-center border border-info border-2 rounded bg-primary">
                <h5 class="my-3">Empty Shopping Cart</h5>
                <a class="btn btn-danger mb-3" asp-controller="ShoppingCart" asp-action="EmptyShoppingCart" asp-route-customerId="@Model.CustomerID">Empty Cart</a>
            </div>
        </div>
    </div>
}
else
{
    <p class="text-center" id="noItemsCart">There are currently no items in your shopping cart.</p>
    <div class="row">
        <div class="text-center">
            <h3 id="titleSection">Want to add some items to your cart?<br />Go to our <a asp-controller="Cafe" asp-action="Menu">menu</a> page to browse our available items!</h3>
        </div>
    </div>
}